.footer {
    padding: 83px 0 20px;
    background-color: #690102;
}
.footer__content {
    text-align: center;
}
.footer__button {
    padding: 30px 60px;
}
.footer__menu {
    padding-top: 80px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-weight: 700;
    text-transform: capitalize;
}
/* .menu__list {
} */
.menu__footer-list:not(:last-child):after {
    content: '|';
    display: inline-block;
    margin: 0 15px;
}
.copyright {
    display: inline;
}
.menu__footer-link {
    transition: all .5s ease;
}
.menu__footer-link:hover {
    color: rgba(255, 255, 255, 0.752);
}