@media screen and (max-width: 1200px) {
	.container, .slider .slick-dots {
		width: 1140px;

        /* background-color: red; */
	}
}

@media screen and (max-width: 1199px) {
	.container, .slider .slick-dots {
		width: 960px;
	
        /* background-color: green; */
    }
}

@media screen and (max-width: 991px) {
	.container, .slider .slick-dots {
		width: 720px;

        /* background-color: purple; */
	}
}

@media screen and (max-width: 767px) {
	.container, .slider .slick-dots {
		width: 540px;

        /* background-color: orange; */
	}

	.info__item:not(:last-child) {
		margin-bottom: 50px;
	}

	.menu__link {
		font-size: 40px;
	}
}

@media screen and (max-width: 575px) {
	.container, .slider .slick-dots {
		padding: 0 10px;
		width: 90%;

        /* background-color: pink; */
	}

	.nav {
		flex-direction: column;
	}
	.nav__logo {
		margin-bottom: 15px;
	}
	.title {
		font-size: 64px;
	}
	.desc {
		font-size: 20px;
	}
	.header__button {
		padding: 15px 30px;
	}
	.menu__link {
		max-width: 230px;
	}

	.info__items {
		justify-content: center;
	}

	.speed__items .speed__item {
		flex-direction: column;
	}
	.speed__items .speed__item-info {
		margin: 0 0 15px 0;
	}
	.speed__item:nth-child(even) .speed__item-info {
		flex-direction: column;
	}
	.speed__item:nth-child(even) .speed__item-info {
		margin-right: 0;
		margin-left: 0;
	}

	.footer__button {
		padding: 15px 30px;
	}
}
